numpy
pandas
tqdm

# Visualization
matplotlib
seaborn
plotly
streamlit

# LLMs
vertexai
sentence_transformers
bertopic
spacy
gensim
torch
transformers

# Finetuning
peft
accelerate
bitsandbytes
datasets
wandb