# Python version

# Core dependencies
numpy==1.24.3
pandas==2.0.3
tqdm>=4.65.0

# Visualization
matplotlib==3.7.2
seaborn==0.12.2
plotly==5.15.0
streamlit==1.24.0

# LLMs and NLP
vertexai==0.0.1
sentence-transformers==2.2.2
huggingface-hub==0.25.2
bertopic==0.15.0
spacy>=3.7.2
fuzzywuzzy==0.18.0
python-Levenshtein==0.21.1
gensim==4.3.1
torch>=2.1.0
transformers>=4.36.0

# Finetuning
peft==0.4.0
accelerate>=0.25.0
bitsandbytes==0.41.1
datasets==2.14.0
wandb>=0.16.0